**1.Unique Words in a Sentence**

In [1]:
sentence=input("Enter Sentence:")
#splitting the words using the spaces
words=sentence.split()
#convert the words list into set to get unique words
unique_word=set(words)
print("Unique Words Count:" ,len(unique_word))
print("Unique Words:", unique_word)

Enter Sentence:python is easy and python is powerful
Unique Words Count: 5
Unique Words: {'powerful', 'python', 'is', 'easy', 'and'}

In [2]:
sentence=input("Enter Sentence:")
#splitting the words using the spaces
words=sentence.split()
unique=[]
for word in words:
  if word not in unique:
    unique.append(word)
print("Unique Words Count:" ,len(unique))
print("Unique Words:", unique)

Enter Sentence:python is easy and python is powerful
Unique Words Count: 5
Unique Words: ['python', 'is', 'easy', 'and', 'powerful']

**2.Highest Salary from Employee Data**

In [3]:
#Employee dictionary having employee names and their salaries
employees={"Ravi":75000,"Anita":68000,"Kiran":72000}
#Initalize highest salary to 0
highest_salary=0
highest_employee=""
for name in employees:
  if employees[name]>highest_salary:
    highest_salary=employees[name]
    highest_employee=name
print(f"Highest Salary: {highest_employee} - {highest_salary}")

Highest Salary: Ravi - 75000

**3.Find Maximum and Minimum Values**

In [4]:
#numbers List
numbers = [45, 22, 89, 10, 66]
#Initalize maximum and minimum values with the first element of the list
max_value=numbers[0]
min_value=numbers[0]
for n in numbers:
  if n>max_value:
    max_value=n
  if n<min_value:
    min_value=n
print("List: ",numbers)
print("Max: ",max_value)
print("Min: ",min_value)

List:  [45, 22, 89, 10, 66]
Max:  89
Min:  10

**4.Count Products Above a Price Threshold**

In [5]:
#price of a products list
prices = [450, 1200, 899, 1500, 300]
count=0
for price in prices:
  if price>1000:
    count+=1
print("Products above 1000: ",count)

Products above 1000:  2

**5.Calculate Attendance Percentage**

In [6]:
#Attendance List
attendance = ["P", "P", "A", "P", "P"]
#count total days and present days
total=len(attendance)
present=0

for day in attendance:
  if day=="P":
    present+=1
#Calculate attendance percentage
attendance_percentage=(present/total)*100
print("Attendance Percentage: ",attendance_percentage)

Attendance Percentage:  80.0

**6.Remove Duplicate Phone Numbers**

In [7]:
#Phone numbers list
phone_numbers = [9876543210, 9123456789, 9876543210]
#Convert list to set to remove duplicate values from list
unique_phone_numbers=set(phone_numbers)
print("Unique Phone Numbers:",unique_phone_numbers)

Unique Phone Numbers: {9876543210, 9123456789}

**7.Count Character Frequency**

In [8]:
text=input()
char_frequency={}
for char in text:
  if char in char_frequency:
    char_frequency[char]+=1
  else:
    char_frequency[char]=1
print(char_frequency)

python peral
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1, ' ': 1, 'e': 1, 'r': 1, 'a': 1, 'l': 1}

**8.Convert List to Tuple**

In [9]:
numbers=[10,20,30]
numbers_tuple=tuple(numbers)
print("Tuple:",numbers_tuple)

Tuple: (10, 20, 30)

**9.Check if a Key Exists in a Dictionary**

In [10]:
employees={
    "Employee":"Adithya","ID":4253,"Department":"IT"
}
if "Employee" in employees:
  print("Employee exists")
else:
  print("Employee does not exist")

Employee exists

**10.Calculate Average Marks**

In [11]:
marks=[60,70,75,80,85,90]
average_marks=sum(marks)/len(marks)
print("Average Marks:",average_marks)

Average Marks: 76.66666666666667

In [12]:
marks=[70,75,80,85]
average_marks=sum(marks)/len(marks)
print("Average Marks:",average_marks)

Average Marks: 77.5